<!DOCTYPE html>
<html>

<head>
    <title>Who Said What</title>
    <style>
        body {
            font-family: Georgia;
        }

        #container {
            height: 90vh;
            width: 99vw;
            bottom: 0;
            position: absolute;


        }

        .bodies {
            width: 50%;
            height: 100%;
            position: relative;
        }

        #first {

            float: left;
        }

        #second {
            text-align: center;

            float: right;
        }

        #transcriptBox {
            padding: 20px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            overflow-y: auto;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 43vw;
            height: 80vh;
            background-color: lightblue;
        }

        #title {
            font-size: 4em;
        }

        #talker {
            width: 200px;
            font-size: 3em;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
    </style>
    
</head>

<body>
    <div id="title">
        WhoSaidWhat
    </div>
    <div id="container">

        <div class="bodies" id="first">

            <div id="transcriptBox">

                <div>
                    {{transcript}}

                </div>
            </div>
        </div>
        <div class="bodies" id="second">
            <div id="talker">
                {{name}} is speaking
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
     <script type="text/javascript">
          $(document).ready(function () {
             $('body').delay(100).load('');
          });
      </script>

</body>

</html>